<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <title>{%= o.htmlWebpackPlugin.options.title %}</title>
  </head>
  <body>
    <div id="client-body"></div>
  </body>
</html>
